@use "colour-font" as colour;

.main-container {
  display: grid;
  grid-template-areas:
    "banner banner"
    "nav  heading"
    "nav  sub-heading"
    "nav  main";
}

.main-container__website-banner {
  grid-area: banner;
  display: flex;
  justify-content: center;
  font-family: colour.$primary-font;
  color: colour.$primary-color;
}

.main-container__sub-banner {
  grid-area: heading;
  color: colour.$sub-color;
  text-align: center;
}

.main-container__main-text {
  grid-area: main;
  font-family: colour.$primary-font;
  h5 {
    display: flex;
    justify-content: center;
    color: colour.$sub-color;
  }
  p {
    color: colour.$text-color;
  }
}

.gallery-images {
  grid-area: main;
}

.navigation-bar-main {
  font-family: colour.$primary-font;
  .navigation-bar-main__to-do {
    list-style-type: none;
    a {
      text-decoration: none;
      color: colour.$nav-color;
    }
  }
}
