@use "colour";
@use "grid";
@use "font";
@use "mixin";
@use "media";

.main-container {
  display: grid;
  @include grid.grid;
  @include media.phone {
    @include grid.mobile-grid;
  }
  @include media.tablet {
    @include grid.mobile-grid;
  }
}

.img {
  grid-area: img;
  padding: 0%;
  margin: 0%;
  @include mixin.flex;
  height: auto;
  width: 100%;
  object-fit: cover;
}

.main-container__Website-banner {
  grid-area: banner;
  @include mixin.flex;
  font-family: font.$primary-font;
  color: colour.$primary-color;
  font-size: 100px;
  padding: 0%;
  margin: 0%;
  @include media.phone {
    font-size: 70px;
  }
  @include media.tablet {
    font-size: 80px;
  }
  @include media.tablet-landscape {
    font-size: 90px;
  }
  @include media.laptop {
    font-size: 100px;
  }
}

.main-container__sub-banner {
  grid-area: heading;
  @include mixin.flex;
  font-family: font.$primary-font;
  color: colour.$primary-color;
  font-size: 60px;
}

.sub-heading {
  grid-area: sub-heading;
  @include mixin.flex;
  color: colour.$sub-color;
  font-family: font.$primary-font;
  font-size: 40px;
}

.main-container__main-text {
  grid-area: main;
  font-family: font.$primary-font;
  font-size: 40px;
  margin: 20px;
  padding: 20px;
  p {
    color: colour.$text-color;
  }
  a {
    @include mixin.flex;
  }
  .main-information {
    height: 200px;
    width: 200px;
  }
  &__right {
    text-align: right;
  }
  &__left {
    text-align: left;
  }
}

a:hover {
  transform: scale(1.5);
}

.gallery-images {
  grid-area: main;
  margin: 0px;
  padding: 20px;
}

form {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.navigation-bar-main {
  grid-area: nav;
  font-family: font.$primary-font;
  .navigation-bar-main__to-do {
    list-style-type: none;
    font-size: x-large;
    font-weight: bolder;
    padding: 30px;
    a {
      text-decoration: none;
      color: colour.$nav-color;
    }
    @include media.phone {
      display: inline;
    }
    @include media.tablet {
      display: inline;
    }
  }
}
