body {
  background-image: url("por-macquarie-nsw.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.main-container {
  display: grid;
  grid-template-areas: "img img" "banner banner" "nav  sub-heading" "nav  main";
}
@media only screen and (max-width: 576px) {
  .main-container {
    grid-template-areas: "img img" "banner banner" "nav nav" "sub-heading sub-heading" "main main";
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .main-container {
    grid-template-areas: "img img" "banner banner" "nav nav" "sub-heading sub-heading" "main main";
  }
}

.main-container__Website-banner {
  grid-area: banner;
  display: flex;
  justify-content: center;
  font-family: "Grape Nuts", cursive;
  color: #de8d40;
  font-size: 100px;
  padding: 0%;
  margin: 0%;
  text-shadow: 2px 2px pink;
}
@media only screen and (max-width: 576px) {
  .main-container__Website-banner {
    font-size: 45px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .main-container__Website-banner {
    font-size: 45px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .main-container__Website-banner {
    font-size: 80px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .main-container__Website-banner {
    font-size: 100px;
  }
}

.sub-heading {
  grid-area: sub-heading;
  display: flex;
  justify-content: center;
  font-family: "Grape Nuts", cursive;
  color: #de8d40;
  font-size: 40px;
  text-shadow: 2px 2px pink;
  max-width: 700px;
}
@media only screen and (max-width: 576px) {
  .sub-heading {
    font-size: 30px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .sub-heading {
    font-size: 35px;
  }
}

.main-container__main-text {
  grid-area: main;
  font-family: "Grape Nuts", cursive;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  font-weight: bold;
  max-width: 700px;
}
.main-container__main-text p {
  color: #196883;
}
.main-container__main-text .main-container__main-text__paragraph {
  grid-area: main;
  font-family: "Grape Nuts", cursive;
  font-size: 20px;
  margin: 0px;
  padding: 20px;
  color: #196883;
  background-color: rgba(207, 229, 236, 0.6588235294);
  border-radius: 5px;
  max-width: 700px;
  font-weight: bold;
}
.main-container__main-text__left {
  display: inline-flex;
  text-align: left;
  background-color: rgba(207, 229, 236, 0.6588235294);
  margin-top: 10px;
  box-shadow: 2px 2px rgba(160, 195, 243, 0.968);
  border-radius: 5px;
  padding: 10px;
}
.main-container__main-text a {
  display: flex;
  justify-content: center;
}
.main-container__main-text .main-information {
  display: inline-block;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .main-container__main-text .main-information {
    height: 200;
    width: 200;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .main-container__main-text .main-information {
    height: 200px;
    width: 200px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .main-container__main-text .main-information {
    height: 400px;
    width: 400px;
  }
}

.to-do-links:hover {
  zoom: 1.5;
  border: 4px solid #de8d40;
  padding: 5px;
}

.gallery-images {
  grid-area: main;
  max-width: 800px;
  margin: 0px;
  padding: 20px;
}

.individual-image {
  border: 2px solid #196883;
}
.individual-image:hover {
  border: 2px solid #54b0c9;
  transform: scale(1.5);
}
@media only screen and (max-width: 576px) {
  .individual-image:hover {
    transform: scale(1.25);
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .individual-image:hover {
    transform: scale(1.25);
  }
}

.contact-form {
  grid-area: main;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(207, 229, 236, 0.6588235294);
  border-radius: 5px;
  grid-gap: 5px;
  max-width: 700px;
  padding: 10px;
}
@media only screen and (max-width: 576px) {
  .contact-form {
    padding: 0px;
    border-radius: 1px;
    grid-gap: 1px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .contact-form {
    padding: 0px;
    border-radius: 1px;
    grid-gap: 1px;
  }
}

.label-text {
  font-family: "Grape Nuts", cursive;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  color: #196883;
  font-weight: bold;
}
@media only screen and (max-width: 576px) {
  .label-text {
    font-size: 15px;
  }
}

.button {
  border-radius: 5px;
}
@media only screen and (max-width: 576px) {
  .button {
    padding: 2px;
  }
}
.button:hover {
  color: #54b0c9;
}

.navigation-bar-main {
  grid-area: nav;
  font-family: "Grape Nuts", cursive;
  display: flex;
}
.navigation-bar-main .navigation-bar-main__to-do {
  background-color: rgba(207, 229, 236, 0.6588235294);
  list-style-type: none;
  font-size: x-large;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}
@media only screen and (max-width: 576px) {
  .navigation-bar-main .navigation-bar-main__to-do {
    font-size: medium;
    align-items: center;
    padding: 2px;
    margin: 0px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navigation-bar-main .navigation-bar-main__to-do {
    font-size: large;
    padding: 2px;
    margin: 0px;
  }
}
.navigation-bar-main .navigation-bar-main__to-do a {
  text-decoration: none;
  color: #255776;
}
@media only screen and (max-width: 576px) {
  .navigation-bar-main .navigation-bar-main__to-do {
    display: inline;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navigation-bar-main .navigation-bar-main__to-do {
    display: inline;
  }
}
.navigation-bar-main .navigation-bar-main__to-do:hover {
  text-decoration: underline;
  font-weight: bold;
  border: 1px solid #54b0c9;
}
