.main-container {
  display: grid;
  grid-template-areas: "img img" "banner banner" "nav  heading" "nav  sub-heading" "nav  main";
}
@media only screen and (max-width: 576px) {
  .main-container {
    grid-template-areas: "img img" "banner banner" "nav nav" "heading heading" "sub-heading sub-heading" "main main";
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .main-container {
    grid-template-areas: "img img" "banner banner" "nav nav" "heading heading" "sub-heading sub-heading" "main main";
  }
}

.img {
  grid-area: img;
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%;
  object-fit: cover;
  background-color: rgba(255, 192, 203, 0.448);
}

.main-container__Website-banner {
  grid-area: banner;
  display: flex;
  justify-content: center;
  font-family: "Grape Nuts", cursive;
  color: #de8d40;
  font-size: 100px;
  padding: 0%;
  margin: 0%;
  background-color: rgba(255, 192, 203, 0.448);
}
@media only screen and (max-width: 576px) {
  .main-container__Website-banner {
    font-size: 70px;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .main-container__Website-banner {
    font-size: 80px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 992px) {
  .main-container__Website-banner {
    font-size: 90px;
  }
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .main-container__Website-banner {
    font-size: 100px;
  }
}

.main-container__sub-banner {
  grid-area: heading;
  display: flex;
  justify-content: center;
  font-family: "Grape Nuts", cursive;
  color: #de8d40;
  font-size: 60px;
}

.sub-heading {
  grid-area: sub-heading;
  display: flex;
  justify-content: center;
  color: #196883;
  font-family: "Grape Nuts", cursive;
  font-size: 40px;
}

.main-container__main-text {
  grid-area: main;
  font-family: "Grape Nuts", cursive;
  font-size: 25px;
  margin: 20px;
  padding: 20px;
}
.main-container__main-text p {
  color: #54b0c9;
}
.main-container__main-text a {
  display: flex;
  justify-content: center;
}
.main-container__main-text .main-information {
  height: 200px;
  width: 200px;
}
.main-container__main-text__right {
  text-align: right;
}
.main-container__main-text__left {
  text-align: left;
}

a:hover {
  transform: scale(1.5);
}

.gallery-images {
  grid-area: main;
  margin: 0px;
  padding: 20px;
}

.individual-image {
  border: 5px solid #196883;
}
.individual-image:hover {
  border: 2px solid #54b0c9;
  transform: scale(1.5);
}

form {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.navigation-bar-main {
  grid-area: nav;
  font-family: "Grape Nuts", cursive;
  background-color: #cfe5ec;
}
.navigation-bar-main .navigation-bar-main__to-do {
  list-style-type: none;
  font-size: x-large;
  padding: 30px;
}
.navigation-bar-main .navigation-bar-main__to-do a {
  text-decoration: none;
  color: #967f7f;
}
@media only screen and (max-width: 576px) {
  .navigation-bar-main .navigation-bar-main__to-do {
    display: inline;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .navigation-bar-main .navigation-bar-main__to-do {
    display: inline;
  }
}
.navigation-bar-main .navigation-bar-main__to-do:hover {
  text-decoration: underline;
  font-weight: bold;
}
