@use "colour";
@use "grid";
@use "font";
@use "mixin";
@use "media";
@use "background";

body {
  @include background.background;
}
.main-container {
  display: grid;
  @include grid.grid;
  @include media.phone {
    @include grid.mobile-grid;
  }
  @include media.tablet {
    @include grid.mobile-grid;
  }
}

.main-container__Website-banner {
  grid-area: banner;
  @include mixin.flex;
  font-family: font.$primary-font;
  color: colour.$primary-color;
  font-size: 100px;
  padding: 0%;
  margin: 0%;
  text-shadow: 2px 2px pink;
  @include media.phone {
    font-size: 70px;
  }
  @include media.tablet {
    font-size: 80px;
  }
  @include media.tablet-landscape {
    font-size: 90px;
  }
  @include media.laptop {
    font-size: 100px;
  }
}

.main-container__sub-banner {
  grid-area: heading;
  @include mixin.flex;
  font-family: font.$primary-font;
  color: colour.$primary-color;
  font-size: 60px;
  text-shadow: 2px 2px pink;
}

.sub-heading {
  grid-area: sub-heading;
  @include mixin.flex;
  color: colour.$sub-color;
  font-family: font.$primary-font;
  font-size: 40px;
  text-shadow: 2px 2px rgb(163, 204, 224);
  img {
    width: 100%;
  }
}

.main-container__main-text {
  grid-area: main;
  font-family: font.$primary-font;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  p {
    color: colour.$sub-color;
  }

  a {
    @include mixin.flex;
  }
  .main-information {
    display: inline-block;
    align-items: center;
    height: 200px;
    width: 200px;
  }
  &__right {
    display: inline-flex;
    text-align: left;
    background-color: rgba(216, 237, 243, 0.407);
    margin-top: 10px;
    box-shadow: 2px 2px rgba(160, 195, 243, 0.968);
    border-radius: 5px;
  }
  &__left {
    text-align: right;
  }
}

a:hover {
  transform: scale(1.5);
}

.gallery-images {
  grid-area: main;
  margin: 0px;
  padding: 20px;
}
.individual-image {
  border: 2px solid colour.$sub-color;
  &:hover {
    border: 2px solid colour.$text-color;
    transform: scale(1.5);
  }
}

form {
  grid-area: main;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: colour.$background-color;
  border-radius: 5px;
  grid-gap: 5px;
}
.label-text {
  font-family: font.$primary-font;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  color: colour.$sub-color;
  font-weight: bold;
}
.button {
  border-radius: 5px;
  &:hover {
    color: colour.$text-color;
  }
}

.navigation-bar-main {
  grid-area: nav;
  font-family: font.$primary-font;
  display: flex;
  .navigation-bar-main__to-do {
    background-color: colour.$background-color;
    list-style-type: none;
    font-size: x-large;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;

    a {
      text-decoration: none;
      color: colour.$nav-color;
    }
    @include media.phone {
      display: inline;
    }
    @include media.tablet {
      display: inline;
    }
    &:hover {
      text-decoration: underline;
      font-weight: bold;
      border: 1px solid colour.$text-color;
    }
  }
}
